*{
    margin: 0px;
    /* padding: 0px; */
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
}
html{
    height: 100%;
}
body, 
html {
    font-family: "STHeiti","Microsoft YaHei",Helvetica,Arial,sans-serif;
    width: 100%;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    font-size: 13px/1.5;
    -webkit-touch-callout: none;
    height: auto;
    background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
.share-body {
    padding-bottom: 69px;
}
.circle-title{
    padding: 0 1.5rem;
}
.circle-title{
    margin: 2rem auto;
    color: #323232;
    font-size: 2.2rem;
    line-height: 2.3rem;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.publish-auto{
    margin: 0 1.2rem;
    padding-bottom: 1.5rem;
}
.publish{
    position: relative;
    font-size: 1.5rem;
}
.avatar{
    display: block;
    float: left;
    height: 3.2rem;
    width: 3.2rem;
    margin-right: 1rem;
    border-radius: 50%;
}
img{
    text-decoration: none;
    -webkit-appearance: none;
}
.lshare-v62 .publish-name,
.lshare-v62 .stack-name {
    color: #4f7cae;
}
.publish-name {
    height: 3.2rem;
    font-size: 1.4rem;
    line-height: 3.2rem;
    color: #323232;
}
.floor-tag, .publish-name.repeater-name+span {
    margin-left: 0;
    vertical-align: middle;
}
.publish-floor {
    background: rgba(193,149,255,.7);
}
.publish-circle, .publish-floor, .publish-tag {
    display: inline-block;
    height: 1.4rem;
    width: 1.4rem;
    margin-left: 2px;
    font-size: 1.1rem;
    color: #fff;
    text-align: center;
    line-height: 1.4rem;
    vertical-align: middle;
    border-radius: 2px;
}
.article {
    display: block;
    padding: 0 1.5rem;
    line-height: 3rem;
    color: #323232;
    font-size: 1.8rem;
    text-align: justify;
    word-wrap: break-word;
    word-break: break-all;
    /* white-space: pre-line; */
}
p{
    margin: 0;
}

.article.content-article img {
    display: block;
    max-width: 100%;
    margin: 1rem auto;
}
.publish-time {
    height: 5.8rem;
    padding: 0 1.5rem;
    color: #999;
    font-size: 1.2rem;
}
.clearfix {
    overflow: hidden;
    zoom: 1;
}
.publish-time span {
    display: inline-block;
    height: 100%;
    line-height: 5.8rem;
}
.publish-time span {
    display: inline-block;
    height: 100%;
    line-height: 5.8rem;
}
.praise-text {
    float: right;
    color: #999;
    font-weight: 400;
    font-size: 1.4rem;
    vertical-align: middle;
    height: 3.7rem;
    line-height: 3.8rem;
}

.favor-topic {
    margin-top: 1.9rem;
}
.favor-replay, .favor-topic {
    position: relative;
    float: right;
    margin-right: .4rem;
    color: #999;
}
.zan{
    width: 1.7rem;
    height: 1.7rem;
    /* float: right; */
    /* background-size: 100% 100%; */
}
.dianzan{
    height: 3.7rem;
    line-height: 3.8rem;
    float: right;
    vertical-align: middle;
    margin-top: 0.5rem;
}
.reply-title {
    height: 6rem;
    line-height: 6rem;
    font-size: 1.7rem;
    text-align: center;
    color: #ff5073;
    cursor: pointer;
}
.hot-reply, .reply-title {
    border-top: 10px solid #eee;
}
.arrow-bottom, 
.arrow-top {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    background: url(./jian.png )no-repeat center 3px;
    background-size: 20px;
    vertical-align: middle;
}
i{
    font-style: normal;
}
ol, ul {
    list-style: none;
}
li, ol, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: block;
}
.reply-list {
    display: block;
    background: #fff;
    border-top: 10px solid #eee;
}
.reply-list li {
    display: block;
    padding: 2rem 1.5rem 1.5rem;
    border-bottom: 1px solid #ddd;
}
.clearfix {
    overflow: hidden;
    zoom: 1;
}
.publish-info {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 500;
    color: #999;
}
.publish-info span {
    display: block;
}
.lshare-v62 .hot-reply .article, .lshare-v62 .reply-list .article {
    padding-left: 4.2rem;
}
.hot-reply .article, .reply-list .article {
    padding: 1rem 0 .8rem;
}
.review-like {
    position: relative;
    padding-right: 5rem;
}
.praise-right {
    position: absolute;
    right: 0;
}
.stack-num {
    display: inline-block;
    float: right;
    color: #999;
    font-size: 1.4rem;
}
.review-like .praise-text {
    height: auto;
    line-height: 18px;
}
.stack-num {
    display: inline-block;
    float: right;
    color: #999;
    font-size: 1.4rem;
}
.icon-tata_btn_comment {
    margin-right: .3rem;
}
.message{
   width: 1.7rem;
   height: 1.7rem;
}
.lshare-v62 .stack-box {
    margin-left: 4.2rem;
}
.stack-box {
    position: relative;
    margin-top: 4rem;
    padding: 1.4rem 1rem;
    background-color: #f5f5f5;
    border-radius: 5px;
}
.reply-list:first-child, .stack-box .stack-item:first-child {
    margin-top: 0;
}
.stack-item {
    margin-top: 1.2rem;
    font-size: 1.6rem;
    line-height: 2rem;
}
.clamp-three {
    line-clamp: 3;
    -webkit-line-clamp: 3;
}
.over-clamp {
    display: -webkit-box!important;
    -o-text-overflow: -o-ellipsis-lastline;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}
.dianzan-mes{
    margin-top: -0.7rem;
}
.top-title{
    /* padding: 1rem 0; */
    
}
.leade{
    margin-left: 1rem;
    text-decoration: none;
    color:#ff5073;
}
.top{
    height: 4.5rem;
    width: 100%;
    position: fixed;
    top: 0;
    background-color:#eee;
    opacity: 0.8;
    font-size: 1.8rem;
    margin: 0;
    border-bottom: 1px solid #ada4a4;
    /* position: relative; */
    
}
.wrap{
    position: absolute;
    top: 4rem;
    z-index: -1;
    width: 100%;
}
.top-fix{
    padding: 0 1.5rem;
}
.quan{
    color: #999;
    font-size: 1.5rem;
    /* padding-top:5px;  */
}
